
<a (click)="showBuyFlights=!showBuyFlights">Toggle Flights</a>
<table class="table table-boarder table-condensed table-responsive" *ngIf="showBuyFlights">
  <tbody>
      <tr *ngFor="let flight of flights">
          <td>{{flight.flightNumber}}</td>
          <td>{{flight.origin}}</td>
          <td>{{flight.destination}}</td>
          <td>{{flight.departDay}}</td>
          <td>{{flight.departTime}}</td>
          <td>{{flight.arriveDay}}</td>
          <td>{{flight.arriveTime}}</td>
          <td>{{flight.price}}</td>
      </tr>
  </tbody>
</table>
